<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DhammaTube 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B8562091A50A40600BFAA1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B8562AB1A50A60B00BFAA1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B8562C61A50A60C00BFAA1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BBF8A8F1A4E356400012472</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BBF8AAB1A4E356500012472</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
